@import "src/assets/styles/mixins"

.promoCodeImg
	height: 100%
	width: 100%


.promoCodeCard
	padding-bottom: 24px
	display: flex
	align-items: center
	border-bottom: 1px #eaeaea solid

	@include _700
		flex-direction: column

.promoCodeImgWrapper
	height: 100%
	width: 100%
	max-width: 180px
	margin-right: 24px

	@include _700
		max-width: 100%
		margin: 0


.infoList
	list-style: none
	padding-left: 0
	margin-top: 0

.promoCodeCardInfoWrapper
	padding: 7px 0
	display: flex

	@include _700
		flex-direction: column

.promoCodeCardInfo
	line-height: 20px
	margin-top: 2px

.promoCodeCardInfoLink
	@extend .promoCodeCardInfo
	word-break: break-word

.link
	color: #07C88E

	&:hover
		color: #05916a

.promoCodeBtnWrapper
	width: 100%


.promoCodeBtn
	background: rgba(62, 80, 114, 0.08)
	border: 0
	border-radius: 8px
	font-size: 14px
	line-height: 20px
	padding: 10px 20px

	&:hover
		cursor: pointer
		background: rgba(52, 69, 91, 0.22)

	@include _700
		width: 100%

li:last-child
	margin-top: 16px

