<div class='promoCodeCard'>
	<div class='promoCodeImgWrapper'>
		<img [src]='img' alt="" class='promoCodeImg'/>
	</div>
	<div class=promoCodeCardInfoWrapper>
		<ul class='infoList'>
			<li>
				<label>Дата создания:</label>
				<p id="date" class='promoCodeCardInfo'>25.09.2021</p>
			</li>
			<li>
				<label htmlFor="link">Ссылка на товар:</label>
				<p id="link" class='promoCodeCardInfoLink'>
					<a href="#" class='link'>
						adidas.com/clothes/WddfJfsf7dt6fsHFIuj5пdfsZFu...
					</a>
				</p>
			</li>
		</ul>
		<div class='promoCodeBtnWrapper'>
			<button class='promoCodeBtn'>Показать qr-код</button>
		</div>
	</div>
</div>
