@import "src/app/styles/varibles.sass"
.filter__container
	display: flex
	flex-direction: column
	padding: 0 24px 24px 24px
	border: 1px solid rgba($button-secondary-blue, 0.16)
	border-radius: 16px
	width: 100%

@media screen and (max-width: 795px)

.filter__container
	border: none
	border-radius: 0
	padding: 0
	max-height: 500px
	overflow-y: scroll

h3
	font-style: normal
	font-weight: 500
	font-size: 16px
	line-height: 24px
	margin: 0

.subfilter_container
	margin-top: 24px
