<div class="filter__container">
	<app-sub-filter name='Пол' [btnNames]="[{name:'Мужской',id:'man',flag:false},{name: 'Женский', id: 'women', flag: false}]"></app-sub-filter>
	<app-sub-filter name='Тип товара' [btnNames]="[{name: 'Выбрать все', id: 'allWear', flag: false}, {name: 'Обувь', id: 'shoes', flag: false}, {name: 'Одежда', id: 'suit', flag: false}, {name: 'Аксессуары', id: 'accs', flag: false}]"></app-sub-filter>
	<app-sub-filter name='Брэнд' [btnNames]="[{name: 'Выбрать все', id: 'allBrands', flag: false}, {name: 'Nike', id: 'nike', flag: false}, {name: 'Adidas', id: 'adidas', flag: false}, {name: 'Rebook', id: 'rebook', flag: false}, {name: 'P&W', id: 'pw', flag: false}, {name: 'Самарский трикотаж', id: 'samara', flag: false}]"></app-sub-filter>
</div>
