<form
	[formGroup]='formGroup'
>
	<input
		formControlName='phone'
		class='form__input'
		[class.error_form_input]='isControlValid("phone")'
		placeholder='Телефон'
	>
	<ng-container *ngIf='validateControl("phone","required")'>
		<app-form-error-message validationMessage='Это поле обязательно'></app-form-error-message>
	</ng-container>
	<ng-container *ngIf='validateControl("phone","maxlength")'>
		<app-form-error-message validationMessage='Максимальная длина превышена'></app-form-error-message>
	</ng-container>
	<input
		formControlName='password'
		class='form__input'
		[class.error_form_input]='isControlValid("password")'
		placeholder='Пароль'
		type='password'
	>
	<ng-container *ngIf='validateControl("password","required")'>
		<app-form-error-message validationMessage='Это поле обязательно'></app-form-error-message>
	</ng-container>
	<ng-container *ngIf='validateControl("password","maxlength")'>
		<app-form-error-message validationMessage='Максимальная длина превышена'></app-form-error-message>
	</ng-container>
	<div class='login__btn'>
		<app-button
			[isLarge]='true'
			[isPrimary]='true'
			(submitFunc)='onSubmit()'
			value='Вход'
		></app-button>
	</div>
	<ng-container *ngIf='submitError|async'>
		<app-form-error-message [validationMessage]=errorMessage></app-form-error-message>
	</ng-container>
	<div class='modal__underLinks'>
		<button (click)='this.dialog.openCodeConfirmDialog()'>
			Войти с помощью смс
		</button>
		<button (click)='this.dialog.openRegDialog()'>
			Регистрация
		</button>
	</div>
	<div class='login__btn'>
		<app-button
			value='Вход для партнёров'
			[isLarge]='true'
			[isPrimary]='false'
			(submitFunc)='onSubmit()'
		>
		</app-button>
	</div>
</form>
