<main class='main_cards__wrapper'>
	<app-banner-swiper></app-banner-swiper>
	<div class='nav_cards__wrapper'>
		<div class='nav_cards'>
			<app-main-page-card class='card'
			                    text='Посмотри, где в твоем городе можно сдать вторсырьё на переработку'
			                    title='Пункты сбора'
			                    bgImg='/assets/images/map.svg'
			                    link='/map'
			></app-main-page-card>
			<app-main-page-card class='card'
			                    text='Используй заработанные экокоины для покупки товаров из переработанных материалов '
			                    title='ЭкоМаркет'
			                    bgImg='/assets/images/market.svg'
			                    link='/market'
			></app-main-page-card>
		</div>
	</div>
</main>
