@use '/src/styles.sass' as gs
@import "src/app/styles/mixins.sass"

.header-wrapper
	height: 80px
	box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.12)
	font-weight: normal
	font-size: 14px
	line-height: 18px
	letter-spacing: -0.15px


	color: rgba(0, 11, 38, 0.64)

.header
	max-width: 1200px
	margin: 0 auto
	height: 80px
	display: flex
	justify-content: space-between

	@include _700
		padding: 0 16px

.header-logo
	margin-right: 49px

.navList
	display: flex
	height: 100%
	margin: 0
	list-style: none
	color: rgba(0, 11, 38, 0.8)
	align-items: center

.navPanel
	display: flex
	align-items: center

	.navList
		color: rgba(0, 11, 38, 0.64)

.mainNavLink
	@include gs.mainNavLink

.mainNavLinkActive
	@include gs.mainNavLinkActive
	border-bottom: 3px #07C88E solid


.navLink
	display: flex
	align-items: center
	height: 100%

	&:hover
		cursor: pointer
		color: #282c34

.headerIcon
	display: flex
	align-items: center
	margin-right: 8px

.navLink:not(:last-child)
	margin-right: 24px

.navLink_city
	margin-right: 48px !important

.navLinks
	display: flex

.header_balance
	font-weight: 600

.photo_header
	height: 24px
	width: 24px
	border-radius: 50%
	border: none

a
	color: rgba(0, 11, 38, 0.64)

a:hover
	color: rgba(0, 11, 38, 1)

.header_mobile_auth
	display: none


.activeNavLink
	height: 100%
	color: rgba(0, 11, 38, 1)
	font-weight: 500

.burgerMenu
	background: none
	border: none
	display: none

@media (max-width: 900px)
	.navLink:not(:last-child)
		margin-right: 12px

	.header__logo
		margin: 0

	.navLink_city
		margin-right: 10px !important

	.navLink
		text-align: center

@media (max-width: 700px)
	.navList
		display: none

	.header_mobile_auth
		display: flex

	.burgerMenu
		display: flex
		align-items: center

	.burgerMenu:hover
		opacity: 0.6

	.photo_header
		margin-left: 24px
