<div class='header-wrapper'>
	<header class='header'>
		<nav class='navPanel'>
			<div class='header-logo'>
				<object
					data='./assets/images/logo.svg'
					type=''
				></object>
			</div>

			<ul class='navList'>
				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Главная
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Пункты сбора
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/market'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Экомаркет
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						О сервисе
					</a>
				</li>

			</ul>
		</nav>

		<ul class=navList>
			<li class='navLink_city navLink'>
				<div class='headerIcon'>
					<app-icon [width]='24' [height]='24' [item]='"mapPointer"'>
					</app-icon>
				</div>
				Казань
			</li>

			<li class='navLink'>
				<app-icon [width]='24' [height]='24' [item]='"login"'>
				</app-icon>
				<a
					class='mainNavLink'
					(click)='openLoginDialog()'
				>
					Войти
				</a>
			</li>
		</ul>
	</header>
</div>
