<div class='header-wrapper'>
	<header class='header'>
		<nav class='navPanel'>
			<div class='header-logo'>
				<object
					data='./assets/images/logo.svg'
					type=''
				></object>
			</div>

			<ul class='navList'>
				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Главная
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/map'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Пункты сбора
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/market'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Экомаркет
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						О сервисе
					</a>
				</li>

			</ul>
		</nav>

		<ul class='navList'>
			<li class='navLink_city navLink'>
				<div class='headerIcon'>
					<app-icon
						[width]='24'
						[height]='24'
						[item]='"mapPointer"'
					>
					</app-icon>
				</div>
				Казань
			</li>
			<ng-container
				*ngIf='isAuth$ | async'>
				<li class='navLink'>
					<app-icon
						[width]='24'
						[height]='24'
						[item]='"login"'
					>
					</app-icon>
					<a
						class='mainNavLink'
						(click)='openLoginDialog()'
					>
						Войти
					</a>
				</li>
			</ng-container>

			<ng-container *ngIf='isAuth$ !== null'>
				<li class='navLink header_balance'>
					<div class='headerIcon'>
						<img src='./assets/images/img.png'
						     width='24'
						     height='24/'>
					</div>
					<p>0</p>
				</li>

				<a routerLink='/profile/promo_codes'
				   class='navLink'>
					<div class='headerIcon'>
						<img src='./assets/images/34Syn2ezKLM.jpeg'
						     class='photo_header'/>
					</div>
					<p></p>
				</a>
			</ng-container>

		</ul>
		<div class='navLink header_balance header_mobile_auth'>
			<button class='burgerMenu' (click)='openBurgerMenu()'>
				<app-icon [item]='"burger"'
				          [width]='24'
				          [height]='24'>

				</app-icon>
			</button>
		</div>
	</header>
</div>
