<div class='header-wrapper'>
	<header class='header'>
		<nav class='navPanel'>
			<div class='header-logo'>
				<object
					data='./assets/images/logo.svg'
					type=''
				></object>
			</div>

			<ul class='navList'>
				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Главная
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Пункты сбора
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						Экомаркет
					</a>
				</li>

				<li class='navLink'>
					<a
						routerLink='/'
						routerLinkActive='active'
						class='mainNavLink'
					>
						О сервисе
					</a>
				</li>
			</ul>
		</nav>
	</header>
</div>
