<div class='userCard'>
	<div>
		<div class='userAvatarContainer'>
			<img src='./assets/images/34Syn2ezKLM.jpeg'
			     alt=''
			     class='userCardImg' />
		</div>
		<h2 *ngIf='user.firstname == null && user.lastname == null; else elseBlock'>Ваше имя</h2>
		<ng-template #elseBlock>
			<h2>{{user.firstname}} {{user.lastname}}</h2>
		</ng-template>
		<div class='userInfo'>
			<p>{{user.phone_number}}</p>
			<p>{{user.email}}</p>
		</div>
		<button class='editBtn'>Редактировать</button>
	</div>
</div>
