@import "src/app/styles/mixins.sass"

.switcherWrapper
	width: 100%

.switcherNav
	display: flex
	align-items: center
	height: 40px
	margin-bottom: 24px
	border-bottom: 1px #eaeaea solid
.switchBtn
	@include mainNavLink
	font-size: 20px
	&:not(:last-child)
		margin-right: 24px


.switchBtnActive
	@include mainNavLinkActive
	font-size: 20px
	&:not(:last-child)
		margin-right: 24px

@media (max-width: 600px)
	.switcherNav
		margin: 24px auto
		max-width: 343px
