<div class='historyCard'>
	<ul class='infoList'>
		<li>
			<label htmlFor='address'>Адрес</label>
			<p
				id='address'
				class='historyCardInfo'
			>Казань, проспект Победы, 141</p>
		</li>
		<li>
			<label>Материал</label>
			<div class='historyCardInfo'>
				<ul class='materialsList'>
					<li class='materialsListElement'>
						<span>
							Пластик: 1 кг
						</span>
					</li>
					<li class='materialsListElement'>
						<span>
							Стекло: 3 кг
						</span>
					</li>
					<li class='materialsListElement'>
						<span>
							Бумага: 5 кг
						</span>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<label>Дата</label>
			<p class='historyCardInfo'>25.09.2021</p>
		</li>
	</ul>
</div>
