<div class='history_card'>
	<ul class='infoList'>
		<li>
			<label htmlFor='address'>Адрес</label>
			<p
				id='address'
				class='history_card__info'
			>Казань, проспект Победы, 141</p>
		</li>
		<li>
			<label>Материал</label>
			<div class='history_card__info'>
				<ul class='materials_list'>
					<li class='materials_list__element'>
						<span>
							Пластик: 1 кг
						</span>
					</li>
					<li class='materials_list__element'>
						<span>
							Стекло: 3 кг
						</span>
					</li>
					<li class='materials_list__element'>
						<span>
							Бумага: 5 кг
						</span>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<label>Дата</label>
			<p class='history_card__info'>25.09.2021</p>
		</li>
	</ul>
</div>
