	<div *ngIf='isSubmitted' class='codeModal__phone_number_container'>
		<p>Введите код отправленный вам на телефон</p>
		<p class='codeModal__phone_number'>+7 (917) 888 88 88</p>
	</div>
	<form
		[formGroup]='formGroup'>
		<input
			formControlName='code'
			class='form__input'
			[class.error_form_input]='isControlValid("code")'
			placeholder='Код'>
		<ng-container *ngIf='validateControl("code","required")'>
			<app-form-error-message validationMessage='Это поле обязательно'></app-form-error-message>
		</ng-container>
		<ng-container *ngIf='validateControl("code","maxlength")'>
			<app-form-error-message validationMessage='Максимальная длина превышена'></app-form-error-message>
		</ng-container>
		<div class='login__btn' (click)='isSubmitted = true'>
			<app-button
				[isLarge]='true'
				[isPrimary]='true'
				(submitFunc)='onSubmit("phone","password")'
				value='Отправить'></app-button>
		</div>
		<div class='modal__underLinks'>
			<button>
				Не получил(-а) код
			</button>
		</div>
		<div class='login__btn' (click)='this.dialog.openPartnersLoginDialog()'>
			<app-button
				value='Вход для партнёров'
				[isLarge]='true'
				[isPrimary]='false'
				(submitFunc)='onSubmit'>
			</app-button>
		</div>
	</form>
